{% extends "article.html" %}
{% load cache cms_tags menu_tags fix_menu_tags %}
{% block title %}
 Supply Side - What is the relationship between placement numbers and diversity ratio? ({{ analytics_year }})
{% endblock %}
{% block heading %}
 Supply Side - What is the relationship between placement numbers and diversity ratio? ({{ analytics_year }})
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/">Home</a> » </li>
    <li><a href="/ssc-projects/">SSC Projects</a> » </li>
    <li><a href="/ssc-projects/analytics/">Analytics</a> » </li>
    <li><a href="/analytics/supply/{{analytics_year}}">Supply Side</a> » </li>
    <li>What is the relationship between placement numbers and diversity ratio? ({{ analytics_year }})</li>
</ul>
{% endblock %}

{% block article %}

  <div class="row-fluid">
    <!--Sidebar Starts here-->
    <div class="span3 sidebar">
      <div class="block content">
        <ul class="menu">
          {% cache 500 inner-article-menu %}
            {% show_menu_below_id "inner-article" 0 100 100 100 "menu/inner-article-list-menu.html" %}
          {% endcache %}
        </ul>
      </div>
    </div>
    <div class="span9 article">
      <div class="row-fluid">
        <!--Article Content -->
        {% placeholder content %}

        <!-- content box -->
        <div class="row-fluid">             
          <div style="width: 800px; margin: 0 auto">
            <div id="supply-stream-split" style="width: 600px;"></div>
            <hr />
            <div id="stream-diversity" style="width: 600px;"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- ContentArea Ends here -->
  </div>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/highcharts.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/modules/exporting.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/analytics.css"/>
  <script type="text/javascript">
  function render_gender_diversity(year)
  {
    $.getJSON('/analytics/data/gender-diversity/' + year, function(data) {
      var container = "stream-diversity";
      options = {
        chart: {
          type: 'column',
          renderTo: container
        },
        title: {
          text: 'Gender Diversity in Supply in Streams'
        },
        xAxis: {
          categories: data.categories
        },
        yAxis: {
          min: 0,
          max: 100,
          title: {
            text: '%'
          },
          stackLabels: {
            enabled: true,
            style: {
              fontWeight: 'bold',
              color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
          }
        },
        legend: {
          align: 'right',
          x: -70,
          verticalAlign: 'top',
          y: 20,
          floating: true,
          backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
          borderColor: '#CCC',
          borderWidth: 1,
          shadow: false
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.x +'</b><br/>'+
                this.series.name +': '+ this.y +'<br/>'+
                'Total: '+ this.point.stackTotal;
          }
        },
        plotOptions: {
          column: {
            stacking: 'normal',
            dataLabels: {
              enabled: true,
              color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
          }
        },
        series: data.series
      };
      chart = new Highcharts.Chart(options);
    })
    .fail(function() {
      $('#' + container).html("<h3>Data not available!</h3>");
    });
  }

  function render_supply_split_stream()
  {
    $.getJSON('/analytics/data/supply-split-stream-trend', function(data) {
      var container = "supply-stream-split";
      options = {
        chart: {
          type: 'column',
          renderTo: container
        },
        title: {
          text: 'Supply split by streams'
        },
        xAxis: {
          categories: data.categories,
          title: {
            text: 'Years'
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Supply'
          },
          stackLabels: {
            enabled: true,
            style: {
              fontWeight: 'bold',
              color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
          }
        },
        legend: {
          align: 'right',
          x: -70,
          verticalAlign: 'top',
          y: 20,
          floating: true,
          backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
          borderColor: '#CCC',
          borderWidth: 1,
          shadow: false
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.x +'</b><br/>'+
                this.series.name +': '+ this.y +'<br/>'+
                'Total: '+ this.point.stackTotal;
          }
        },
        plotOptions: {
          column: {
            stacking: 'normal',
            dataLabels: {
              enabled: true,
              color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
          }
        },
        series: data.data
      };
      chart = new Highcharts.Chart(options);
    })
    .fail(function() {
      $('#' + container).html("<h3>Data not available!</h3>");
    });
  }


$(function() {
  render_supply_split_stream();
  render_gender_diversity({{analytics_year}});
});
</script>
{% endblock %}
