{% load menu_tags filters %}
{% for child in children %}
  <div class="span6" style='margin-left:0px;'>
    <div class="mid-box-flip" style=" min-height:202px;">
      <h1>{{ child.get_menu_title | not_none }}</h1>
      <p>
        {{ child.page|get_description }}
      </p>
      <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="btn-theme2">Read More</a>
      {% if request.current_page.reverse_id == 'recent-news' %}
        <small class="muted pull-right" style="font-size:0.6em; margin-top:5px;">{{ child.page.publication_date }}</small>
      {% endif %}
    </div>
  </div>
  {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
{% endfor %}