{% extends "article.html" %}

{% block title %}
  Add Job
{% endblock %}

{% block heading %}
  Add Job
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block article %}
  <form method="post">
    {% if form.errors %}
      <div class="errorlist">* Error in processing form, check error below.</div>
      <br>
    {% endif %}
    <table>
      {% for field in form %}
        <tr>
          <td>
            {{field.label}}
            {% if field.field.required %}
              *
            {% endif %}
          </td>
          <td>
            {{field.errors}}
            {{field}}
          </td>
        </tr>
      {% endfor %}
    </table>
    <input type="submit">
  </form>
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.min.js"></script>
<script>
  $(function() {
    $("select").chosen({
      width: "500px"
    });
  });
</script>
{% endblock %}