{% extends "article.html" %}

{% block title %}
  Qualification Pack - {{ qualification_pack.code }}
{% endblock %}

{% block heading %}
  Qualification Pack - {{ qualification_pack.code }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block article %}
<ul id="qpTab" class="nav nav-tabs">
  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
  <li><a href="#mobility_map" data-toggle="tab">Mobility Map</a></li>
  <li><a href="#career_guide" data-toggle="tab">Career guide</a></li>
  <li><a href="#training_provider" data-toggle="tab">Training provider ({{ trainings|length }})</a></li>
  <li><a href="#job" data-toggle="tab">Job ({{ jobs|length }})</a></li>
  <li><a href="#internship" data-toggle="tab">Internship ({{ interns|length }})</a></li>
</ul>
<div id="qpTabContent" class="tab-content">
  <div class="tab-pane active" id="details">
    <table class="table-borderd">
      <caption>Qualification Pack - {{ qualification_pack.code }}</caption>
      <tbody>
        <tr>
          <td>Code</td>
          <td>{{ qualification_pack.code }}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td>{{ qualification_pack.version }}</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>{{ qualification_pack.occupation }}</td>
        </tr>
        <tr>
          <td>Job Role</td>
          <td>{{ qualification_pack.job_role }}</td>
        </tr>
        <tr>
          <td>Alias</td>
          <td>{{ qualification_pack.alias }}</td>
        </tr>
        <tr>
          <td>Role Description</td>
          <td>{{ qualification_pack.role_description }}</td>
        </tr>
        <tr>
          <td>NVEQF Level</td>
          <td>{{ qualification_pack.nveqf_level }}</td>
        </tr>
        <tr>
          <td>Min Educational Qualification</td>
          <td>{{ qualification_pack.min_educational_qualification }}</td>
        </tr>
        <tr>
          <td>Max Educational Qualification</td>
          <td>{{ qualification_pack.max_educational_qualification }}</td>
        </tr>
        <tr>
          <td>Training</td>
          <td>{{ qualification_pack.training }}</td>
        </tr>
        <tr>
          <td>Experience</td>
          <td>{{ qualification_pack.experience }}</td>
        </tr>
        <tr>
          <td>Occupational Standard (Compulsory)</td>
          <td>
            <ul class="unstyled">
              {% for os in qualification_pack.os_compulsory.all %}
                <li><a href="{% url 'occupational_standard' code=os.code version=os.version %}">{{ os }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <td>Occupational Standard (Optional)</td>
          <td>
            <table>
              {% for os in qualification_pack.os_optional.all %}
              <tr>
                <td><a href="{% url 'occupational_standard' code=os.code version=os.version %}">{{ os }}</a></td>
              </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
        <tr>
          <td>Attachment</td>
          {% if qualification_pack.attachment %}
            <td><a href="{{ qualification_pack.attachment.url }}">{{ qualification_pack.attachment.name }}</a></td>
          {% endif %}
        </tr>
        <tr>
          <td>Last Review On</td>
          <td>{{ qualification_pack.last_reviewed_on }}</td>
        </tr>
        <tr>
          <td>Next Review On</td>
          <td>{{ qualification_pack.next_reviewed_on }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="mobility_map" style="text-align:center">
    {% if qualification_pack.occupation.sub_sector.mobility_map %}
      <img src="{{ qualification_pack.occupation.sub_sector.mobility_map.url }}" style="max-width:100%" />
    {% else %}
      No information available.
    {% endif %}
  </div>
  <div class="tab-pane" id="career_guide">
    {% if qualification_pack.occupation.sub_sector.mobility_map %}
      <a class="btn" target="_blank" href="{{ qualification_pack.occupation.sub_sector.career_guide.url }}">
        <i class="icon-download-alt"></i>
        Download Career Guide
      </a>
    {% else %}
      No information available.
    {% endif %}
  </div>
  <div class="tab-pane" id="training_provider">
    {% if trainings %}
      <ul>
        {% for training in trainings %}
          <li><a href="{{ training.get_absolute_url }}">{{ training.training_title }}</a></li>
        {% endfor %}
      </ul>
      <a class="btn btn-theme pull-right" href="{% url 'render_trainings' %}?job_role={{ qualification_pack.id }}">View All</a>
    {% else %}
      No training available for now.
    {% endif %}
  </div>
  <div class="tab-pane" id="job">
    {% if jobs %}
      <ul>
        {% for job in jobs %}
          <li><a href="{{ job.get_absolute_url }}">{{ job.job_title }}</a></li>
        {% endfor %}
      </ul>
      <a class="btn btn-theme pull-right" href="{% url 'render_jobs' %}?internship=false&job_role={{ qualification_pack.id }}">View All</a>
    {% else %}
      No job available for now.
    {% endif %}
  </div>
  <div class="tab-pane" id="internship">
    {% if interns %}
      <ul>
        {% for intern in interns %}
          <li><a href="{{ intern.get_absolute_url }}">{{ intern.job_title }} - {{ intern.company }}</a></li>
        {% endfor %}
      </ul>
      <a class="btn btn-theme pull-right" href="{% url 'render_jobs' %}?internship=true&job_role={{ qualification_pack.id }}">View All</a>
    {% else %}
      No internship available for now.
    {% endif %}
  </div>
</div>
{% endblock %}
