svg {
  background: #fff;
}  
#india {
  fill: #ffffff;
  opacity: 1;
}
.state{
  fill:rgb(0, 76, 151);
  stroke: #000000;
  stroke-width: 1;
}
.selected{
  fill:rgb(255, 102, 0) !important;
  opacity: 1 !important;
}
.hover{
  fill: rgb(255, 0, 0);
  opacity: 1 !important;
}

.analytics-map {
  width: 600px;
  float: left;
}
.analytics-chart {
  width: 550px;
  float: right;
}

.clear{
  clear: both;
}

#hiring-cumulative, #headcount-cumulative {
  text-align: center;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}
