{% extends "base.html" %}
{% load cms_tags admin_tags %}
{% block styles %}
    <!-- GOOGLE FONTS CSS -->
    <style type="text/css">
      .view-display-id-home_portfolio .img-mask-hover,
      .view-display-id-portfolio2 .img-mask-hover,
      .view-display-id-portfolio3 .img-mask-hover,
      .view-display-id-portfolio4 .img-mask-hover{
      background-image: url('{{ STATIC_URL }}images/portfolio-hover-yellow.png');
      }
    </style>
    <link href="{{ STATIC_URL }}font/stylesheet.css" rel="stylesheet" type="text/css">
    <style type="text/css" media="all">
      @import url("{{ STATIC_URL }}css/layerslider.css");
    </style>
    <style type="text/css">
      body{
        font-family: PlayRegular, Helvetica, arial, sans-serif;
      }
      h1, h2, h3, h4, h5, h6{
        font-weight: normal;
      }
      #slider_container h1, #slider_container h2, #slider_container h3, #slider_container h4, #slider_container h5{
        font-family: PlayBold;
      }
      blockquote{
        font-family: 'PT Serif', serif;
        font-style: italic;
      }
    </style>
{% endblock %}
{% block content %}
<div id="slider_container">
  <div class="row-fluid" >
    <div class="span12">
      <div id="skifi-ls-container">
        <div id="layerslider" style="margin: 0px auto; width:100%; height: 350px; ">
          <!-- SLIDE 1 -->
           <div class="ls-layer" style="slidedelay: 6000; ">
            <img src="{{ STATIC_URL }}images/slides/industry.png"  class="ls-s1 " style="slidedirection:  fade; slideoutdirection : left; easingin : easeInQuart; easingOut : easeInOutQuart;  delayIn : 250;  left:15px;"/>         
            <h1 class="ls-s2" style="slidedirection : right; slideoutdirection : right;  delayIn : 600;  top:70px; left:660px; width:539px; font-weight:400"> Helping you choose the<br> next generation talent</h1>
            <a href="http://www.sscnasscom.com/events/"  class="ls-s4 btn btn-theme btn-large " style="slidedirection:  bottom; slideoutdirection : bottom; durationin : 1500;  delayIn : 800;  top:200px; left:664px; ">Events</a>
          </div>
          <!-- SLIDE 2 -->
          <div class="ls-layer" style="slidedelay: 6000; ">
            <img src="{{ STATIC_URL }}images/slides/world_skill_competition.png" class="ls-s1 " style="slidedirection:  right; slideoutdirection : right;  delayIn : 300;  left:550px; top:10px; "/>
            <h1 class="ls-s2" style="slidedirection : left; slideoutdirection : left;  delayIn : 420;  left:90px; top:75px; width:540px; font-weight:400 "> World Skills Competition 2015</h1>
            <a href="http://www.sscnasscom.com/ssc-projects/other-projects/world-skills-competition/"  class="ls-s4 btn btn-large btn-theme " style="slidedirection:  bottom; slideoutdirection : bottom;  delayIn : 620;  top:210px; left:95px; ">Know More</a>
          </div>
          <!-- SLIDE 3-->
          <div class="ls-layer" style="slidedelay: 6000; ">
            <img src="{{ STATIC_URL }}images/slides/scholar.png"  class="ls-s1 " style="slidedirection:  fade; slideoutdirection : left; easingin : easeInQuart; easingOut : easeInOutQuart;  delayIn : 250;  left:15px;"/>         
            <h1 class="ls-s2" style="slidedirection : right; slideoutdirection : right;  delayIn : 600;  top:45px; left:660px; width:539px; font-weight:400"> From Convocation to Coronation, guiding you through every single step.</h1>
            <a href="http://www.sscnasscom.com/ssc-publications/"  class="ls-s4 btn btn-theme btn-large " style="slidedirection:  bottom; slideoutdirection : bottom; durationin : 1500;  delayIn : 800;  top:270px; left:664px; ">Publications</a>
          </div>
           <!-- SLIDE 4
          <div class="ls-layer" style="slidedelay: 6000; ">
            <img src="{{ STATIC_URL }}images/slides/world_skill_competition.png"  class="ls-s1 " style="slidedirection:  right; slideoutdirection : right;  delayIn : 300;  left:-20px;top:10px;"/>
            <h1 class="ls-s1" style="slidedirection : left; slideoutdirection : left;  delayIn : 400;  left:780px; top:50px; width:540px; font-weight:350 "> World Skills Competition 2015</h1>
            <a href="http://www.sscnasscom.com/ssc-projects/other-projects/world-skills-competition/"  class="ls-s4 btn btn-theme btn-large " style="slidedirection:  bottom; slideoutdirection : bottom; durationin : 1500;  delayIn : 800;  top:200px; left:795px; ">Know More</a>
          </div>-->
         </div>
      </div>
    </div>
  </div>
</div>
<!--slider_container-->
<!-- Dark Highlighted Region -->
<div id="highlightedRegion" class="dark">
  <div class="WrapperWidth">
    <div class="row-fluid">
      <div id="HighlightedBlock1" class=" span12 ">
        <div class="region region-dark-highlighted1">
          <div id="block-block-1" class="clearfix block block-block">
            <div class="content">
              <div style="max-width: 920px; margin: auto;" class="alignCenter">
                <!--<blockquote>
                  <p style="padding-bottom:14px;">"Nasscom is the premier organisation that represents and sets the tone for public policy for the Indian software industry."</p>
                  </blockquote>
                -->
                <blockquote>
                  <p style="padding-bottom:14px;"><img src="{{ STATIC_URL }}images/nasscom/careers-that-matter.png"></p>
                </blockquote>
                <div class="social-container alignCenter animateIcons" style=" max-width: 500px;">
                  <div id="social-tagline" style="width: 277px;"></div>
                  <a class="job-seeker" href="{% page_url 'student-job-seeker' %}"><span class="icon-social-twitter" style="margin-top: 0px;"></span></a>
                  <a class="training" href="{% page_url 'training-provider' %}"><span class="icon-social-linkedin" t="" style="margin-top: 0px;"></span></a>
                  <a class="industry" href="{% page_url 'industry' %}"><span class="icon-social-aim" style="margin-top: 0px;"></span></a>
                  <a class="government" href="{% page_url 'government' %}"><span class="icon-social-youtube" style="margin-top: 0px;"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Dark highlighted region-->
<!-- row1-Region -->
<div id="row1-Region">l
  <div class="WrapperWidth">
    <div class="row-fluid home-search">
      <div class="span7 offset1 well well-small">
        <form action="/search" method="GET">
          <input type="text" name="q" placeholder="Search trainings, jobs here..">
          <button class="btn btn-theme" type="submit"><i class="icon-search"></i></button>
        </form>
      </div>
      <a class="offset1 well btn btn-theme" type="submit" style="padding:13px 20px; margin-top:5px;" href="{% url 'check_competency' %}">
        <i class="icon-file-text"></i> Check your Competency
      </a>
    </div>
  </div>
  <!--row1_full_span-->
  <div id="row1-Blocks">
    <div class="WrapperWidth">
      <div class="row-fluid">
        <div id="row1_b1" class=" span3 ">
          <div class="region region-row1-b1">
            <div id="block-block-6" class="clearfix block block-block">
              <div class="titlecontainer">
                <h4 class="blocktitle">Let's Grow &amp; Work Together</h4>
              </div>
              <div class="content">
                <p><span class="icons-smashing pull-left" style="margin-right: 15px; margin-top:6px; margin-bottom:40px;"><img src="{{ STATIC_URL }}images/nasscom/work-together.png" alt=""> </span>
                  Check out the upcoming events, workshops, and also the internship programs in the IT-ITeS industry.
                </p>
                <br>
                <a href="{% page_url "lets-grow-work-together" %}" class="btn  btn-theme btn-small pull-right">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div id="row1_b2" class=" span3 ">
          <div class="region region-row1-b2">
            <div id="block-block-5" class="clearfix block block-block">
              <div class="titlecontainer">
                <h4 class="blocktitle">Assessment &amp; Certification</h4>
              </div>
              <div class="content">
                <p><span class="icons-smashing pull-left" style="margin-right: 15px; margin-top:6px; margin-bottom:40px;"><img src="{{ STATIC_URL }}images/nasscom/worforce-development.png" alt=""> </span>
                  Gateway to company’s recruitment site, NAC &amp; NAC Tech.
                </p>
                <br>
                <br>
                <a href="{% page_url "assessment-certification" %}" class="btn  btn-theme btn-small pull-right">Read more</a>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div id="row1_b3" class=" span3 ">
          <div class="region region-row1-b3">
            <div id="block-block-4" class="clearfix block block-block">
              <div class="titlecontainer">
                <h4 class="blocktitle">Analyst's Desk</h4>
              </div>
              <div class="content">
                <p><span class="icons-smashing pull-left" style="margin-right: 15px; margin-top:6px; margin-bottom:40px;"><img src="{{ STATIC_URL }}images/nasscom/analysts-desk.png" alt=""> </span>
                  Industries views on trends, forecast on requirements and skill gaps.<br><br><br>
                </p>
                <a href="{% page_url "analysts-desk" %}" class="btn  btn-theme btn-small pull-right">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div id="row1_b4" class=" span3 ">
          <div class="region region-row1-b4">
            <div id="block-block-3" class="clearfix block block-block">
              <div class="titlecontainer">
                <h4 class="blocktitle">Industry  - where are we?</h4>
              </div>
              <div class="content">
                <p><span class="icons-smashing pull-left" style="margin-right: 15px; margin-top:5px; margin-bottom:40px;"><img src="{{ STATIC_URL }}images/nasscom/industry.png" alt=""></span>
                  Explore four sub-sectors of the Indian IT–ITeS industry for Occupational Mapping, career information and job availability.
                  <br>
                </p>
                <a href="{% page_url "industry-where-are-we" %}" class="btn  btn-theme btn-small pull-right">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row1-Region -->
<!-- row2 region -->
<!--TITLE REGION-->
<!-- Content and Sidebar Area -->
<div id="contentAndSidebars">
  <!--content_region_title-->
  <!-- breadcrumb-->
  <div class="WrapperWidth">
    <div class="row-fluid">
      <div class="">
      </div>
    </div>
  </div>
  <div class="WrapperWidth">
    <div class="row-fluid">
      <div class="span9">
        <div id="contentArea">
          <div class="tabs"></div>
          <h1 class="page-title  plain-title">IT-ITeS Workforce Eco-system</h1>
          <div class="region region-content">
            <div id="block-system-main" class="clearfix block block-system">
              <div class="content">
                <div class="view view-portfolio view-id-portfolio view-display-id-home_portfolio view-dom-id-38b3d6ac1d4f6fcde163250b06c166ea">
                  <div class="view-content">
                    <!--
                      Implementing portfolio effect
                      Credit: http://www.freshdesignweb.com/beautiful-image-hover-effects-with-jquery-css.html
                      -->
                    <div class="portfolio-container">
                      <div class="views-row views-row-1 views-row-odd views-row-first">
                        <div class="views-field views-field-title">
                          <span class="field-content">
                            <a href="{% page_url "career-information" %}">Career Information </a>
                          </span>
                        </div>
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            List Of sub-sector<br>
                            <div class="FirstPara15"></div>
                          </div>
                        </div>
                        <div class="views-field views-field-created">
                        </div>
                        <div class="views-field views-field-field-image">
                          <div class="field-content">
                            <div class="img-mask-hover" style="position: absolute; width: 174px; height: 160px; display: none;">
                              <a href="{% page_url "career-information" %}">
                                <img class="portfolio-link" alt="zoom" src="{{ STATIC_URL }}images/icons/link.png">
                              </a>
                            </div>
                            <div class="img-mask" style="position: absolute; width: 174px; height: 160px;"></div>
                            <img typeof="foaf:Image" src="{{ STATIC_URL }}images/portfolio_thumb/WorkforceInformation.jpeg" width="600" height="550" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="views-row views-row-2 views-row-even">
                        <div class="views-field views-field-title">
                          <span class="field-content">
                            <a href="{% page_url "development-initiatives" %}">Development Initiatives</a>
                          </span>
                        </div>
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <p>Scaling, Quality &amp; Capacity List</p>
                          </div>
                        </div>
                        <div class="views-field views-field-created">
                          
                        </div>
                        <div class="views-field views-field-field-image">
                          <div class="field-content">
                            <div class="img-mask-hover" style="position: absolute; width: 174px; height: 160px; display: none;">
                              <a href="{% page_url "development-initiatives" %}"><img class="portfolio-link" alt="zoom" src="{{ STATIC_URL }}images/icons/link.png"></a>
                            </div>
                            <div class="img-mask" style="position: absolute; width: 174px; height: 160px;"></div>
                            <img typeof="foaf:Image" src="{{ STATIC_URL }}images/portfolio_thumb/DevelopmentInitiative.jpeg" width="600" height="550" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="views-row views-row-3 views-row-odd">
                        <div class="views-field views-field-title">        <span class="field-content"><a href="{% page_url "market-indicators" %}">Market Indicators</a></span>
                        </div>
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            <p> Wondering about market trends?</p>
                          </div>
                        </div>
                        <div class="views-field views-field-created">      
                        </div>
                        <div class="views-field views-field-field-image">
                          <div class="field-content">
                            <div class="img-mask-hover" style="position: absolute; width: 174px; height: 160px; display: none;">
                              <a href="{% page_url "market-indicators" %}"><img class="portfolio-link" alt="zoom" src="{{ STATIC_URL }}images/icons/link.png"></a>
                            </div>
                            <div class="img-mask" style="position: absolute; width: 174px; height: 160px;"></div>
                            <img typeof="foaf:Image" src="{{ STATIC_URL }}images/portfolio_thumb/WorkforceMarketIndicator.jpg" width="600" height="550" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="views-row views-row-4 views-row-even views-row-last" style="margin-right: 0px;">
                        <div class="views-field views-field-title">        <span class="field-content"><a href="{% page_url "research-reports" %}">Research &amp; Reports</a></span>
                        </div>
                        <div class="views-field views-field-body">
                          <div class="field-content">
                            Get industry facts &amp; figures!
                          </div>
                        </div>
                        <div class="views-field views-field-created">       
                        </div>
                        <div class="views-field views-field-field-image">
                          <div class="field-content">
                            <div class="img-mask-hover" style="position: absolute; width: 174px; height: 160px; display: none;">
                              <a href="{% page_url "research-reports" %}"><img class="portfolio-link" alt="zoom" src="{{ STATIC_URL }}images/icons/link.png"></a>
                            </div>
                            <div class="img-mask" style="position: absolute; width: 174px; height: 160px;"></div>
                            <img typeof="foaf:Image" src="{{ STATIC_URL }}images/portfolio_thumb/added-soon.jpeg" width="600" height="550" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span3 sidebar">
        <div id="right-sidebar">
          <div class="region region-right-sidebar">
            <div id="block-block-17" class="clearfix block block-block">
              <div class="titlecontainer">
                <h4 class="blocktitle">Industry Leader's Speak</h4>
              </div>
              <div class="content">
                <div class="comment-pop" style="position: relative; height: 346px;">
                  {% testimonial %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- under content region -->
</div>
{% endblock %}
{% block script %}
  <script>
    $('a.job-seeker').bind('mouseover', function() {
      $('#social-tagline').text('Student/Job Seeker');
    })
    $('a.training').bind('mouseover', function() {
      $('#social-tagline').text('Training Provider');
    })
    $('a.industry').bind('mouseover', function() {
      $('#social-tagline').text('Industry');
    })
    $('a.government').bind('mouseover', function() {
      $('#social-tagline').text('Government');
    })
  </script>
  <!-- LAYER SLIDER SETTINGS -->
  <script type="text/javascript">
    (function ($) {
      $(document).ready(function() {
        $('#layerslider').layerSlider({
          // Options should go here follwing the layer slider documentation syntax
          animateFirstLayer : true,
          skin              : 'fullwidth',
          skinsPath         : '{{ STATIC_URL }}css/',
          responsive : false,
          responsiveUnder : 1200,
          sublayerContainer : 1200,
        });
      });
    })(jQuery);
  </script>
{% endblock %}
