{% extends "article.html" %}

{% block title %}
  Reset Password
{% endblock %}

{% block heading %}
  Reset Password
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block article %}
{% if user.is_authenticated %}
    You are already logged in!
{% else %}
    <form method="POST" action="" >
      {% csrf_token %}
      {{ password_reset_form }}
      <div class="form-actions">
          <input class="btn btn-theme" type="submit" value="Reset My Password" />
      </div>
    </form>
{% endif %}
{% endblock %}
